<div class='card'>
	<div class='card-header'><h2>Login</h2></div>
	<form id='login-form' class='card-body'>
		<div class='form-group'>
			<label for='username-login'>Username:</label>
			<input class='form-input' type='text' id='username-login' />
		</div>
		<div class='form-group'>
			<label for='password-login'>Password:</label>
			<input class='form-input' type='password' id='password-login' />
		</div>
		<div class='form-group'>
			<button
				id='login-button'
				class='btn btn-primary'
				type='submit'
			>Login!</button>
		</div>
		<a href='/signup' type='button'>Signup?</a>
	</form>

</div>

<script src='/js/login.js'></script>

{{! classes & IDs must match login.js. target btn / form in event listener }}